<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="piggyEntities" connectionString="metadata=res://*/PiggyDataModel.csdl|res://*/PiggyDataModel.ssdl|res://*/PiggyDataModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Documents and Settings\aw75684\My Documents\Personal\Proj\Piggy\PiggyDatabase\piggy.s3db&quot;'"
      providerName="System.Data.EntityClient" />
    <add name="PiggyDB.Properties.Settings.piggyConnectionString"
      connectionString="data source=&quot;C:\Documents and Settings\aw75684\My Documents\Personal\Proj\Piggy\PiggyDatabase\piggy.s3db&quot;"
      providerName="System.Data.SQLite" />
  </connectionStrings>
</configuration>