<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="PiggyContext" connectionString="metadata=res://*/PiggyDataModel.csdl|res://*/PiggyDataModel.ssdl|res://*/PiggyDataModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Documents and Settings\aw75684\My Documents\Personal\Proj\Piggy\PiggyDatabase\piggy.s3db&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>